body {
    padding-top: 65px;
}

.rud-compact-table {
    line-height: 1.25em;
    font-size: 0.9em;
}

.rud-compact-table tbody tr td dl dd small {
    line-height: 0.0em;
    /* font-size: 0.85em; */
}

.one-star {
    background-color: lightgreen;
}

.half-star {
    background-color: aqua;
}

.no-star {
    background-color: red;
}

.done {
    color: white;
    background-color: blue;
}

.nicer-ul {
    list-style-type: none;
}
.nicer-ul li {
    padding-bottom: 0.5em;
}

.explanation-header {
    padding-top: 0.2em;
}

.field-explanation {
    font-size: 0.75em;
}

.curated-data {
    font-size: 1.05em;
    font-style: italic;
    font-weight: 400;
    padding-left: 1em;
}
